.music-content {
    height: 500px;
    background: linear-gradient( rgba(33, 31, 31, 0.8), rgba(2, 8, 34, 0.9) ), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5U2otykKeSjrkHIKnvIhIxWpEU13yvJxpgw&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}