.dialog-content {
    height: 500px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW7N9e6UpZ6EQP42zwEsxLRE3Xu1cMZsqZew&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.dialog-items {
    margin-top: -5%;;
    margin-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(234, 223, 223);
}

.dialog-items .active {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 3%;;
}

.dialog-messages {
    margin-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #fff;
    /* background-color: aliceblue; */
}