.dialog-content {
    height: 500px;
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoVKkpm34FtnUith96Wl3hUdxI0P0UIDIziw&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-items {
    margin-left: 13%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #333;
}

.dialog-items .active {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}

.dialog-messages {
    margin-right: 13%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #333;
    /* background-color: aliceblue; */
}