.users {
    height: 100vh;
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(1, 11, 57, 0.5) ), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHLYXXk-Fq9iAQD2q8vNIYop10n2-_-zgE6tx0UGLPZVSQtggb5ODkGXNUUva9xHoi7pA&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.userImg img {
    object-fit: cover;
    width:70px;
    height:70px;
    border-radius: 50%;
}

.selectedPage {
    cursor: pointer;
}

.selectedPage.active {
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 5px rgb(49, 3, 99);
    font-size: 22px;
}