.App-nav {
    grid-area: n;
    background-color: #232b44;
  }

  .App-nav {
    padding-top: 40%;
  }

  .App-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding-left: 10%;
    padding-bottom: 10%;
    letter-spacing: 1px;
    line-height: 1.5;

  }

  .App-nav_last {
    margin-top: 20px;
  }

  .App-nav a:hover {
    font-size: 20px;
    color: rgb(144, 198, 242);
  }

  .App-nav a:active {
    color: #338fdb;
  }
